html, body {
  height: 100%;
}

#map-screen {
  position: absolute;
  height: 100%;
  width: 100%;
}

#location-list-with-filter {
  font-size: 18px;
  font-family: "Arial", sans-serif;
  position: absolute;
  float: left;
  height: 88%;
  width: 15%;
  top: 10%;
  background-color: white;
  border: 3px inset #0038B8;
  overflow-y: scroll;
}

#input-filter {
  width: 95%;
}

#location-list {
  list-style: none;
}

#location-item {
  padding-bottom: 15px;
}

#location-list-screen {
  display: block;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: inherit;
}

@media only screen and (max-width: 450px) {
  #location-list-with-filter {
    width: 33%;
    font-size: 14px;
  }
}

@media only screen and (min-width: 451px) and (max-width: 770px) {
  #location-list-with-filter {
    width: 33%;
    font-size: 16px;
  }
}
